<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">Music App</a>
    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="music">Search Music</a>
        </li>
        <li class="nav-item"  routerLinkActive="active">
          <a class="nav-link" routerLink="playlists">Playlists</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <!--<div (click)="hide = !hide">Toggle</div>-->

      <!--<playlists></playlists>-->

      <!--<music-search *ngIf="!hide"></music-search>-->

      <router-outlet></router-outlet>

    </div>
  </div>
</div>